.personal-container {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.personal-card {
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  max-width: 50vw;
  max-height: 60vh;
  width: 100%;
  overflow: auto;
  border: 1px solid #ccc;
  border-radius: 8px;
  max-width: 50vw;
  max-height: 60vh;
}

.subtitle-personal-card {
  font-family: 'Times New Roman', Times, serif;
  font-size: x-large;
}

.content-personal-card {
  font-family: 'Times New Roman', Times, serif;
  font-size: large;
  margin-left: 1vh;
}